# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
out/
build/
*.js
*.map
*.d.ts

# Ignore development-specific files
*.log
*.env
*.env.local

# Ignore npm debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.sublime-*

# Ignore macOS system files
.DS_Store

# Ignore user-specific Node.js configuration files
.npmrc
.yarnrc

